{% extends "base.html" %}

{% block content %}
<div class="page_border">
    <h2>Combat Sport Federation. Цели и предназначние.</h2>
    <div style="margin-left: 50px; margin-bottom: 0px !important;">
        <p>В наше время достаточно много людей подвергаются буллингу среди сверстников.</p>
        <p>Наша компания может помочь с этим! Combat Sport Federation помогает добиваться своих целей и не дать себя в обиду.</p>

        <p>Ждём от вас новых достижений!</p>
    </div>
    <h2>Родителям.</h2>
        <div style="margin-left: 50px; margin-bottom: 0px !important;">

        </div>
    <h2>Связь с нами.</h2>
        <div style="margin-left: 50px; margin-bottom: 0px !important;">


    </div>
</div>
{% endblock %}