{% extends "base.html" %}

{% block content %}
<div class="page_border">
    <h2>YaFit. Цели и предназначние.</h2>
    <div style="margin-left: 50px; margin-bottom: 0px !important;">
        <p>В наше время, когда так сильно развиты технологии, действительно сложно держать себя в форме.</p>
        <p>Наше приложение может помочь с этим! YaFit помогает добиваться своих целей, которые вы поставите.</p>
        <p>Абсолютно любых, начиная количеством пройденных шагов и заканчивая потреблением воды</p>
        <p>Ждём от вас новых достижений!</p>
    </div>
    <h2>Разработчикам.</h2>
        <div style="margin-left: 50px; margin-bottom: 0px !important;">
        <p>Мы действительно хотим, чтобы направление спорта развивалось.</p>
        <p>Для начинающих разработчиков у нас есть API. Мы мы сделали только get, но вы уже можете его протестировать!</p>
        <p>Хорошие новости! Вам не нужен Apikey, пока количество пользователей не достигло большого числа.</p>
        <p>Для api вам достаточно обратиться к /api/v1/.../</p>
        <p>Подробнее в <a href="https://github.com/Mnedo/YaFit">документации</a></p>
        </div>
    <h2>Связь с нами.</h2>
        <div style="margin-left: 50px; margin-bottom: 0px !important;">
        <p>Немного о нас:</p>
        <p>Мы будем рады, если вы подпишитесь или поставите звездочку нашему проекту на GitHub!</p>
                    <p><a href="https://github.com/Mnedo"><img src="https://avatars.githubusercontent.com/u/75080258?s=400&u=de29a159389eea0639731e9b3734df890291b702&v=4"
    alt="Mnedo" class="round"></a>
        <a href="https://github.com/narek04"><img src="https://avatars.githubusercontent.com/u/75745496?v=4"
   alt="narek04" class="round"></a>
        <a href="https://github.com/SuperDasha"><img src="https://avatars.githubusercontent.com/u/50296673?v=4"
    alt="SuperDasha" class="round"></a></p>
        <p>Это действительно помогает нашему продвижению и развитию.</p>
        <p>Там же вы можете связаться с нами.</p>

    </div>
</div>
{% endblock %}